.DS_Store 
Datenverstaendnis-checkpoint.ipynb 
Reviews einlesen-checkpoint.ipynb 
Untitled1-checkpoint.ipynb 
Untitled-checkpoint.ipynb 
.ipynb_checkpoints 
Data_raw/
Data Preprocessing/reviews_filtert/reviews_Amazon_Instant_Video_5.csv
Data Preprocessing/reviews_raw/reviews_Amazon_Instant_Video_5.json.gz
Data_filtert/